  @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

  body {
    font-family: "PT Sans";
  }
  h1 {
    font-family: Montserrat;
  }
  
  .text {
        font-family: "PT Sans";
        column-count: 2;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      .box {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
